footer {
  width: 100%;
  min-height: fit-content;
  /* border: 1px solid red; */
  margin: auto;
  background-color: rgb(237, 229, 229);
}
.footer-top {
  width: 100%;
  min-height: fit-content;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  gap: 10px;
  /* border: 1px solid maroon; */
}
.footer-1 {
  width: 30%;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid yellow; */
}
.footer-1 img {
  width: 100%;
  max-width: 100px;
  object-fit: cover;
  border: 1px solid black;
}

.footer-2 {
  width: 30%;
  height: 100%;
  padding: 10px;
  /* border: 1px solid yellow; */
}
.footer-3 {
  width: 30%;
  height: 100%;
  padding: 10px;
  /* border: 1px solid yellow; */
}
.s-inner-div-1 {
  width: calc(100% - 10px);
  margin-top: 25px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.s-inner-div-1 p {
  font-size: 18px;
  cursor: pointer;
  display: flex;
}
.s-inner-div {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 12px;
}
.s-inner-div span {
  margin: 10px 0;
}
.s-inner-div p {
  font-size: 18px;
  font-weight: 450;
}

.footer-div-3 {
  margin-top: 30px;
  width: fit-content;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid red; */
}
.social-media-2 {
  width: 35px;
  margin: 0 10px;
}
.social-media-2 img {
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}

.copyright {
  width: 100%;
  height: 10vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: grey;
  text-align: center;
  /* border: 2px solid green; */
}
@media only screen and (max-width: 960px) {
  .footer-top {
    width: 100% !important;
  }
  .footer-1 {
    width: 100%;
    height: 230px;
  }

  .footer-2 {
    width: 100%;
  }
  .footer-3 {
    width: 100%;
  }
  .s-inner-div-1 {
    width: calc(100% - 10px);
  }
}
